<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiko.ss.dao.PretrialOpinionMapper">
  <resultMap id="BaseResultMap" type="com.yiko.ss.domain.PretrialOpinion">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="opinionIndex" jdbcType="VARCHAR" property="opinionindex" />
    <result column="opinionText" jdbcType="VARCHAR" property="opiniontext" />
  </resultMap>

    <sql id="Base_Column_List">
    id, opinionIndex,opinionText
  </sql>


    <select id="selectByConditions" resultType="com.yiko.ss.domain.PretrialOpinion">
        select
        <include refid="Base_Column_List" />
        from pretrialOpinion
        <where>
            <if test="id != null and id != ''">
                and id =#{id}
            </if>
            <if test="opinionindex != null and opinionindex != ''">
                and opinionIndex =#{opinionindex}
            </if>
            <if test="opiniontext != null and opiniontext !=''">
                and opinionText =#{opinionText}
            </if>
        </where>
    </select>
</mapper>