<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox-content">


                <form class="form-horizontal m-t" id="signupForm">
                    <input id="id" name="id" class="form-control"
                           type="hidden" th:value="${affairMaterials.id}"/>
                    <input id="affairid" name="affairid" class="form-control"
                           type="hidden" th:value="${affairMaterials.affairid}"/>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">备注：</label>
                        <div class="col-sm-8">
                            <input id="remarks" name="remarks" class="form-control"
                                   type="text" th:value="${affairMaterials.remarks}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">事项名：</label>
                        <div class="col-sm-8">
                            <input id="matname" name="matname" class="form-control"
                                   type="text" th:value="${affairMaterials.matname}">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否显示：</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="valid" style="width: 200px;" id="valid">
                                <option value="">请选择</option>
                                <option value="1" th:selected=" ${affairMaterials.valid=='1'}">是</option>
                                <option value="0" th:selected=" ${affairMaterials.valid=='0'}">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">是否必须：</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="ismust" style="width: 200px;" id="ismust">
                                <option value="">请选择</option>
                                <option value="1" th:selected=" ${affairMaterials.ismust=='1'}">是</option>
                                <option value="0" th:selected=" ${affairMaterials.ismust=='0'}">否</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">文件选择：</label>
                        <div class="col-sm-8">
                            <input type="file" name="file" id="file" th:value="${affairMaterials.localpath}" onchange="fileChange(this);">
                        </div>

                    </div>

                    <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-3">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/ss/affairmaters/edit.js">
</script>
</body>
</html>
